<div class="event">
  <h4>Date: <%= event.date %></h4>
  <p>Where: <%= event.city %>, Capacity: <%= event.capacity %></p>
  <aside>created: <%= event.created_at %>, updated: <%= event.updated_at %> </aside>
</div>
